.App {
  text-align: left;
  margin:0;
  padding:20px;
}

.app p{
  padding-right: 15px;
}

h3{
  color:#8B3CE6;
}

h4{
  color:#8B3CE6;
  font-size: .75em!important;
}


/*-------Mobile Styling -----*/

@media screen and (max-width: 600px) {

  .App-header {
    background-color: #EDF0F1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .Hero{
    background-image: url(./assets/tablet.jpg);
  }
  

  
  .accordion-item {
    cursor:pointer;
  }
  
  
  .btn{
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    color: #34a1c4;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid #34a1c4;
    padding: 1em 5em;
    transition: 0.2s;
  }
  
  .btn:hover{
    background: #34a1c4;
    color: #fff;
    padding: 1em 5em;
  }
  
  .btn:after{
    position: absolute;
    content: '\f063';
    font-family: 'FontAwesome';
    font-weight: normal;
    right: -3em;
    transition: 0.4s;
    color: #fff;
  }
  
  .btn:hover:after{
    right: 2em;
  }
  


}


/*-------Tablet Styling -------*/
@media only screen 
  and (min-device-width: 800px) {

  .hero{
    float: right;
    height: inherit;
    width: 50%;
  }
  
  .App {
    padding: 35px;
  }
  
  .content {
    padding-right: 35px;
  }
  
  .accordion{
    width: 50%;
  }

}

