.App {
  text-align: left;
  margin:0;
  padding:20px;
  width:100%;
}

.app p{
  padding-right: 15px;
}

h3{
  color:#8B3CE6;
}

h4{
  color:#8B3CE6;
  font-size: 1.15em;
}

img{
  width: -webkit-fill-available;
}

.card-header{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.btn-primary{
  color: #FFF;
  background-color: #8b3ce6;
  position: relative; 
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-weight: bold;
  border: 3px solid #7831ce;
  border-radius: 30px;
  padding: 1em 5em;
  transition: 0.2s;
}

.btn-primary:hover{
  background: #af72f9;
  color: #fff;
  padding: 1em 5em;
  border: 3px solid #7831ce;
}

.btn-primary:after{
  position: absolute;
  content: '\f061';
  font-family: 'FontAwesome';
  font-weight: normal;
  left: -3em;
  transition: 0.4s;
  color: #fff;
}

.btn-primary:hover:after{
  left: 2em;
} 


.fa fa-arrow-down:active{
  transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
}

.rotate {
  -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}

.rotate.down{
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}


/*-------Mobile Styling -----*/

@media screen and (max-width: 600px) {

  .App-header {
    background-color: #EDF0F1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .hero{
    background-image: url(./assets/tablet.jpg);
    
  }   

  .accordion-item {
    cursor:pointer;
  }  

  .accordion{
    max-width:border-box;
  }

}


/*-------Tablet Styling -------*/
@media only screen 
  and (min-device-width: 800px) {

  .hero{
    float: right;
    height: inherit;
    width: 50%;
    padding-left: 20px;
  }
  
  .App {
    padding: 35px;
  }
  
  .content {
    padding-right: 35px;
  }
  
  .accordion{
    width: 50%;
  }

}

